/* ! ------------------------fonts-------------------- */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,300,400,500,600,700,800,900&display=swap");
/* ! -------------------reset-styles------------------ */
* {
		margin: 0;
		padding: 0;
		border: 0;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
}

a {
		text-decoration: none;
		color: inherit;
}

ul,
ol,
li {
		list-style: none;
}

li {
		position: relative;
}

img {
		vertical-align: top;
}

button {
		cursor: pointer;
		background-color: unset;
		color: inherit;
		font-family: inherit;
		font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
		margin: 0;
		color: #444;
}

:focus {
		outline: none;
}

/* ! ------------------------body-------------------- */
body {
		font-family: "Poppins", "Arial", "Helvetica", sans-serif;
		color: #000;
		min-width: 320px;
		font-weight: 500;
		font-size: 12px;
		font-style: normal;
		line-height: 20px;
		letter-spacing: 1px;
}

body.lock,
html.lock {
		overflow: hidden;
}

/* ! ------------------------styles------------------ */
.visually-hidden {
		position: absolute;
		overflow: hidden;
		width: 1px;
		height: 1px;
		clip: rect(1px, 1px, 1px, 1px);
}

.top {
		color: #939393;
		border-bottom: 1px solid #e8e8e8;
		min-height: 45px;
		width: 100%;
}
.top__wrapper {
		padding: 6px 30px;
}
.top__contacts {
		display: none;
}
.top__links {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
		font-size: 12px;
		font-weight: 400;
		letter-spacing: 0.5px;
}
.top__links i {
		padding: 5px;
}
.top__item:hover {
		color: #9174ce;
}
.top__item a {
		display: block;
		padding: 5px 0;
}
.top__checkout {
		margin-left: 4px;
}

.header {
		position: relative;
		width: 100%;
}
.header__wrapper {
		width: 100%;
		padding: 20px 20px 0;
}
.header__logo {
		margin: 5px auto 0;
		max-width: 177px;
}
.header__logo a {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 100%;
}
.header__logo img {
		max-width: 100%;
		margin-bottom: 15px;
}
.header__cabinet-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
}
.header__burger {
		padding: 7px 20px 24px 0;
		cursor: pointer;
}
.header__burger:hover {
		color: #9174ce;
}
.header__search {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		margin-bottom: 10px;
}
.header__search input {
		border: 2px solid #9174ce;
		border-radius: 5px 0 0 5px;
		color: #7c7c7c;
		font-size: 12px;
		font-weight: 400;
		height: 40px;
		letter-spacing: 0.7px;
		min-width: 250px;
		padding: 9px 100px 9px 16px;
		-webkit-transition: all 500ms ease;
		transition: all 500ms ease;
		width: 100%;
		-webkit-box-flex: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
		font-family: inherit;
}
.header__search input::-webkit-input-placeholder {
		opacity: 0.8;
}
.header__search input::-moz-placeholder {
		opacity: 0.8;
}
.header__search input:-ms-input-placeholder {
		opacity: 0.8;
}
.header__search input::-ms-input-placeholder {
		opacity: 0.8;
}
.header__search input::placeholder {
		opacity: 0.8;
}
.header__button-search {
		background-image: url("../img/search_white.png");
		background-repeat: no-repeat;
		background-size: 16px;
		background-position: center;
		background-color: #9174ce;
		height: 40px;
		width: 50px;
		padding: 7px 10px;
		font-size: 18px;
		font-weight: 500;
		-webkit-transition: all 500ms ease;
		transition: all 500ms ease;
		border-radius: 0 5px 5px 0;
		-ms-flex-negative: 0;
		    flex-shrink: 0;
}
.header__cabinet {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding-top: 10px;
}
.header__account {
		margin-right: 18px;
}
.fa.fa-bars {
		font-size: 21px;
}

.account {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		cursor: pointer;
}
.account_border {
		border-top: 1px dashed #999999;
		margin-top: 15px;
		padding-top: 15px;
		width: 100%;
}
.account:hover .account__image {
		background-image: url("../img/account_active.png");
}
.account__image {
		width: 23px;
		height: 23px;
		background-color: unset;
		background-image: url("../img/account.png");
		background-attachment: scroll;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
}
.account__title {
		display: none;
}
.account__menu {
		position: absolute;
		top: 53px;
		left: -105px;
		-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.12);
		        box-shadow: 0 0 7px rgba(0, 0, 0, 0.12);
		background-color: #fff;
		z-index: 1000;
		border-radius: 4px;
		font-weight: 400;
		font-size: 13px;
		min-width: 190px;
		max-height: 0;
		overflow: hidden;
		padding: 0 20px;
		-webkit-box-sizing: content-box;
		        box-sizing: content-box;
		-webkit-transition: all 0.5s linear;
		transition: all 0.5s linear;
}
.account__menu._active {
		margin: 2px 0 0;
		padding-top: 20px;
		padding-bottom: 20px;
}
.account__link {
		display: block;
		padding: 6px 0;
}
.account__register {
		color: #333;
}
.account__register a:hover {
		color: #9174ce;
}
.account__login {
		color: #333;
}
.account__login a:hover {
		color: #9174ce;
}
.account__language a {
		padding-bottom: 13px;
}
.account__language a:hover {
		text-decoration: underline;
}
.account__language button {
		max-width: 16px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 100%;
}
.account__language button img {
		max-width: 100%;
}
.account__language ul {
		padding-bottom: 10px;
}
.account__buttons {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-top: 2px;
		font-size: 14px;
}
.account__buttons button:hover {
		text-decoration: underline;
}
.account__button {
		background-color: #fff;
}
.account__button:nth-child(n+2) {
		margin-left: 15px;
}
.account__currency button {
		padding: 6px 10px;
		border: 1px solid #d9d9d9;
		color: #767676;
		min-width: 35px;
}
.account__currency button:hover {
		text-decoration: underline;
}
.cart {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		cursor: pointer;
}
.cart:hover {
		color: #9174ce;
}
.cart:hover .cart__image {
		background-image: url("../img/cart_active.png");
}
.cart:hover .cart__count {
		background-color: #000;
		color: #fff;
}
.cart__image {
		width: 23px;
		height: 23px;
		background-color: unset;
		background-image: url("../img/cart.png");
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: center;
		background-size: contain;
}
.cart__count {
		position: absolute;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		z-index: 1;
		left: -13px;
		top: -11px;
		padding: 1px 4px 1px 4px;
		border-radius: 50%;
		background-color: #9174ce;
		font-size: 11px;
		font-weight: 600;
		color: #fff;
		max-height: 16px;
		min-width: 16px;
}
.cart__title {
		position: relative;
		display: block;
		margin-left: 10px;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 600;
		letter-spacing: 0;
}

.menu {
		position: absolute;
		z-index: 999;
		border-left: 1px solid #e5e5e5;
		border-right: 1px solid #e5e5e5;
		top: 70px;
		left: 0;
		right: 0;
		margin: 20px;
		-webkit-box-sizing: content-box;
		        box-sizing: content-box;
		background-color: #fff;
		-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
		        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
		-webkit-transition: max-height 0.3s linear, top 0.3s linear;
		transition: max-height 0.3s linear, top 0.3s linear;
		max-height: 0;
		overflow: hidden;
}
.menu._active {
		border-top: 1px solid #e8e8e8;
		border-bottom: 1px solid #e8e8e8;
		top: 85px;
		padding: 9px 0 15px 0;
}
.menu_font-size {
		font-size: 13px;
		padding: 10px;
}
.menu_font-size:hover {
		color: #9174ce;
}
.menu_font-size:hover::after {
		color: #000;
}
.menu__item:hover > a {
		color: #9174ce;
}
.menu__item:hover > a::after {
		color: #000;
}
.menu__item:nth-child(n+2) {
		margin-top: 3px;
}
.menu__item a {
		display: block;
}
.menu__item > a {
		display: block;
		padding: 10px;
}
.menu__dropdown {
		-webkit-box-sizing: content-box;
		        box-sizing: content-box;
		-webkit-transition: all 0.3s linear;
		transition: all 0.3s linear;
		overflow: hidden;
		max-height: 0;
		padding: 0 10px;
}
.menu__dropdown._active {
		padding-top: 10px;
		padding-bottom: 15px;
}
.menu__dropdown_padding {
		padding-bottom: 0;
		padding-top: 0;
}
.menu__link {
		padding: 4px 0;
}
.menu__link a {
		padding-left: 20px;
		font-weight: normal;
}
.menu__link:hover {
		color: #9174ce;
}
.menu__link:hover .menu__link__arrow::after {
		color: #000;
}
.menu__arrow {
		position: absolute;
		z-index: 1;
		background-image: url("../svg/arrow.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 12px;
		height: 35px;
		width: 45px;
		right: 0;
		top: 0;
		cursor: pointer;
}
.menu__arrow._active {
		-webkit-transform: rotate(180deg);
		        transform: rotate(180deg);
}
.menu__arrow:hover {
		color: #9174ce;
}
.menu__arrow:hover::after {
		color: #000;
}

.banner {
		margin-bottom: 40px;
}
.banner__wrapper {
		padding: 0 20px;
}
.banner__slider {
		margin-bottom: 18px;
}
.banner__slide img {
		display: block;
		max-width: 100%;
		width: 100%;
		height: auto;
}
.banner__prev {
		display: none;
}
.banner__next {
		display: none;
}
.banner__side {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		width: 100%;
		margin-bottom: 38px;
}
.banner__side-img {
		width: 48%;
}
.banner__side-img img {
		max-width: 100%;
		width: 100%;
}
.banner__side-img a {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
}
.banner__side-img a::after {
		content: "";
		position: absolute;
		z-index: 1;
		bottom: 50%;
		top: 50%;
		left: 0;
		right: 0;
		background-color: #000;
		opacity: 0.1;
		-webkit-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
}
.banner__side-img a:hover::after {
		-webkit-transition: all 0.9s ease-in-out;
		transition: all 0.9s ease-in-out;
		top: 0;
		bottom: 0;
		opacity: 0;
}
.banner__aside-item {
		position: relative;
		width: 100%;
}
.banner__aside-item img {
		max-width: 100%;
		width: 100%;
}
.banner__aside-item:nth-child(n+2) {
		margin-top: 20px;
}
.banner__aside-item a {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
}
.banner__aside-item a::after, .banner__aside-item a::before {
		content: "";
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		opacity: 0;
		-webkit-transition: all 0.45s ease 0s;
		transition: all 0.45s ease 0s;
		background-color: rgba(255, 255, 255, 0.7);
}
.banner__aside-item a::before {
		left: 0;
		right: 100%;
}
.banner__aside-item a::after {
		right: 0;
		left: 100%;
}
.banner__aside-item a:hover::after {
		left: 50%;
		opacity: 0.7;
}
.banner__aside-item a:hover::before {
		right: 50%;
		opacity: 0.7;
}
.banner__content {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 30px;
		padding-top: 51px;
}
.banner__title {
		text-transform: uppercase;
		font-size: 14px;
		margin-bottom: 5px;
		color: #010101;
		line-height: 1.29;
}
.banner__offer {
		line-height: 1.17;
		font-weight: 400;
		text-transform: capitalize;
}
.banner__label {
		font-size: 11px;
		background-color: #9174ce;
		color: #fff;
		line-height: 1.27;
		font-weight: 400;
		padding: 1px 5px 1px 6px;
		text-transform: capitalize;
}