/* ! ------------------------fonts-------------------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,300,400,500,600,700,800,900&display=swap');

/* ! -------------------reset-styles------------------ */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

li {
  position: relative;
}

img {
  vertical-align: top;
}

button {
  cursor: pointer;
  background-color: unset;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #444;
}

:focus {
  outline: none;
}


/* ! ------------------------body-------------------- */

body {
  font-family: 'Poppins', 'Arial', 'Helvetica', sans-serif;
  color: #000;
  min-width: 320px;
  font-weight: 500;
  font-size: 12px;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 1px;
}

body.lock,
html.lock {
  overflow: hidden;
}

$color-grey: #939393;
$color-purple: #9174ce;

/* ! ------------------------styles------------------ */

.wrapper {
  // padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.top {
  color: $color-grey;
  border-bottom: 1px solid #e8e8e8;
  min-height: 45px;
  width: 100%;
  &__wrapper {
    padding: 6px 30px;
  }
  &__contacts {
    display: none;
  }
  &__links {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
    & i {
      padding: 5px;
    }
  }
  &__item {
    &:hover {
      color: $color-purple;
    }
    & a {
      display: block;
      padding: 5px 0;
    }
  }
  &__wishlist {}
  &__checkout {
    margin-left: 4px;
  }
}

.header {
  position: relative;
  width: 100%;
  &__wrapper {
    width: 100%;
    padding: 20px 20px 0;
  }
  &__main {}
  &__logo {
    margin: 5px auto 0;
    max-width: 177px;
    & a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    & img {
      max-width: 100%;
      margin-bottom: 15px;
    }
  }
  &__container {}
  &__cabinet-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__burger {
    padding: 7px 20px 24px 0;
    cursor: pointer;
    &:hover {
      color: $color-purple;
    }
  }
  &__search {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    & input {
      border: 2px solid $color-purple;
      border-radius: 5px 0 0 5px;
      color: #7c7c7c;
      font-size: 12px;
      font-weight: 400;
      height: 40px;
      letter-spacing: 0.7px;
      min-width: 250px;
      padding: 9px 100px 9px 16px;
      transition: all 500ms ease;
      width: 100%;
      flex-grow: 1;
      font-family: inherit;
      &::-webkit-input-placeholder {
        opacity: 0.8;
      }
      &::-moz-placeholder {
        opacity: 0.8;
      }
      &:-ms-input-placeholder {
        opacity: 0.8;
      }
      &::-ms-input-placeholder {
        opacity: 0.8;
      }
      &::placeholder {
        opacity: 0.8;
      }
    }
  }
  &__button-search {
    background-image: url('../img/search_white.png');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    background-color: $color-purple;
    height: 40px;
    width: 50px;
    padding: 7px 10px;
    font-size: 18px;
    font-weight: 500;
    transition: all 500ms ease;
    border-radius: 0 5px 5px 0;
    flex-shrink: 0;
  }
  &__cabinet {
    display: flex;
    padding-top: 10px;
  }
  &__account {
    margin-right: 18px;
  }
  &__cart {}
  &__menu {}
}

.fa.fa-bars {
  font-size: 21px;
}

.account {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  &_border {
    border-top: 1px dashed #999999;
    margin-top: 15px;
    padding-top: 15px;
    width: 100%;
  }
  &:hover &__image {
    background-image: url('../img/account_active.png');
  }
  &__image {
    width: 23px;
    height: 23px;
    background-color: unset;
    background-image: url('../img/account.png');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &__title {
    display: none;
  }
  &__menu {
    position: absolute;
    top: 53px;
    left: -105px;
    box-shadow: 0 0 7px rgb(0 0 0 / 12%);
    background-color: #fff;
    z-index: 1000;
    border-radius: 4px;
    font-weight: 400;
    font-size: 13px;
    min-width: 190px;
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    box-sizing: content-box;
    transition: all .5s linear;
    &._active {
      margin: 2px 0 0;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  &__link {
    display: block;
    padding: 6px 0;
  }
  &__register {
    color: #333;
    & a {
      &:hover {
        color: $color-purple;
      }
    }
  }
  &__login {
    color: #333;
    & a {
      &:hover {
        color: $color-purple;
      }
    }
  }
  &__language {
    & a {
      padding-bottom: 13px;
      &:hover {
        text-decoration: underline;
      }
    }
    & button {
      max-width: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      & img {
        max-width: 100%;
      }
    }
    & ul {
      padding-bottom: 10px;
    }
  }
  &__buttons {
    display: flex;
    margin-top: 2px;
    font-size: 14px;
    & button {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__button {
    background-color: #fff;
    &:nth-child(n+2) {
      margin-left: 15px;
    }
  }
  &__eng {}
  &__eng-button {}
  &__ar {}
  &__ar-button {}
  &__currency {
    & button {
      padding: 6px 10px;
      border: 1px solid #d9d9d9;
      color: #767676;
      min-width: 35px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__eur {}
  &__eur-button {}
  &__pound {}
  &__pound-button {}
  &__dollar {}
  &__dollar-button {}
}

.cart {
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    color: $color-purple;
  }
  &:hover &__image {
    background-image: url('../img/cart_active.png');
  }
  &:hover &__count {
    background-color: #000;
    color: #fff;
  }
  &__image {
    width: 23px;
    height: 23px;
    background-color: unset;
    background-image: url('../img/cart.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: contain;
  }
  &__count {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    left: -13px;
    top: -11px;
    padding: 1px 4px 1px 4px;
    border-radius: 50%;
    background-color: $color-purple;
    font-size: 11px;
    font-weight: 600;
    color: #fff;
    max-height: 16px;
    min-width: 16px;
  }
  &__title {
    position: relative;
    display: block;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
  }
}

.menu {
  position: absolute;
  z-index: 999;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  top: 70px;
  left: 0;
  right: 0;
  margin: 20px;
  box-sizing: content-box;
  background-color: #fff;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  transition: max-height .3s linear, top .3s linear;
  max-height: 0;
  overflow: hidden;
  &._active {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    top: 85px;
    padding: 9px 0 15px 0;
  }
  &_font-size {
    font-size: 13px;
    padding: 10px;
    &:hover {
      color: $color-purple;
    }
    &:hover::after {
      color: #000;
    }
  }
  &__list {}
  &__item {
    &:hover>a {
      color: $color-purple;
    }
    &:hover>a::after {
      color: #000;
    }
    &:nth-child(n+2) {
      margin-top: 3px;
    }
    & a {
      display: block;
    }
    &>a {
      display: block;
      padding: 10px;
    }
  }
  &__dropdown {
    box-sizing: content-box;
    transition: all .3s linear;
    overflow: hidden;
    max-height: 0;
    padding: 0 10px;
    &._active {
      padding-top: 10px;
      padding-bottom: 15px;
    }
    &_padding {
      padding-bottom: 0;
      padding-top: 0;
    }
  }
  &__subcategory {}
  &__link {
    padding: 4px 0;
    & a {
      padding-left: 20px;
      font-weight: normal;
    }
    &:hover {
      color: $color-purple;
    }
    &:hover &__arrow::after {
      color: #000;
    }
  }
  &__arrow {
    position: absolute;
    z-index: 1;
    background-image: url('../svg/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px;
    height: 35px;
    width: 45px;
    right: 0;
    top: 0;
    cursor: pointer;
    &._active {
      transform: rotate(180deg);
    }
    &:hover {
      color: $color-purple;
    }
    &:hover::after {
      color: #000;
    }
  }
}