/* ! ------------------------fonts-------------------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,300,400,500,600,700,800,900&display=swap');

/* ! -------------------reset-styles------------------ */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

li {
  position: relative;
}

img {
  vertical-align: top;
}

button {
  cursor: pointer;
  background-color: unset;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

:focus {
  outline: none;
}


/* ! ------------------------body-------------------- */

body {
  font-family: 'Poppins', 'Arial', 'Helvetica', sans-serif;
  color: #000;
  min-width: 320px;
  font-weight: 500;
  font-size: 12px;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 1px;
  overflow-x: hidden;
}

body.lock,
html.lock {
  overflow: hidden;
}

$color-grey: #939393;
$color-purple: #9174ce;

/* ! ------------------------styles------------------ */

.wrapper {
  // padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

._hide {
  display: none;
}

.top {
  color: $color-grey;
  border-bottom: 1px solid #e8e8e8;
  min-height: 45px;
  width: 100%;
  &__wrapper {
    padding: 6px 30px;
  }
  &__contacts {
    display: none;
  }
  &__links {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
    & i {
      padding: 5px;
    }
  }
  &__item {
    &:hover {
      color: $color-purple;
    }
    & a {
      display: block;
      padding: 5px 0;
    }
  }
  &__wishlist {}
  &__checkout {
    margin-left: 4px;
  }
}

.header {
  position: relative;
  width: 100%;
  &__wrapper {
    width: 100%;
    padding: 20px 20px 0;
  }
  &__main {}
  &__logo {
    margin: 5px auto 0;
    max-width: 177px;
    & a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    & img {
      max-width: 100%;
      margin-bottom: 15px;
    }
  }
  &__container {}
  &__cabinet-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__burger {
    padding: 7px 20px 24px 0;
    cursor: pointer;
    &:hover {
      color: $color-purple;
    }
  }
  &__search {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    & input {
      border: 2px solid $color-purple;
      border-radius: 5px 0 0 5px;
      color: #7c7c7c;
      font-size: 12px;
      font-weight: 400;
      height: 40px;
      letter-spacing: 0.7px;
      min-width: 250px;
      padding: 9px 100px 9px 16px;
      transition: all 500ms ease;
      width: 100%;
      flex-grow: 1;
      font-family: inherit;
      &::-webkit-input-placeholder {
        opacity: 0.8;
      }
      &::-moz-placeholder {
        opacity: 0.8;
      }
      &:-ms-input-placeholder {
        opacity: 0.8;
      }
      &::-ms-input-placeholder {
        opacity: 0.8;
      }
      &::placeholder {
        opacity: 0.8;
      }
    }
  }
  &__button-search {
    background-image: url('../img/search_white.png');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    background-color: $color-purple;
    height: 40px;
    width: 50px;
    padding: 7px 10px;
    font-size: 18px;
    font-weight: 500;
    transition: all 500ms ease;
    border-radius: 0 5px 5px 0;
    flex-shrink: 0;
  }
  &__cabinet {
    display: flex;
    padding-top: 10px;
  }
  &__account {
    margin-right: 18px;
  }
  &__cart {}
  &__menu {}
}

.fa.fa-bars {
  font-size: 21px;
}

.account {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  &_border {
    border-top: 1px dashed #999999;
    margin-top: 15px;
    padding-top: 15px;
    width: 100%;
  }
  &:hover &__image {
    background-image: url('../img/account_active.png');
  }
  &__image {
    width: 23px;
    height: 23px;
    background-color: unset;
    background-image: url('../img/account.png');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &__title {
    display: none;
  }
  &__menu {
    position: absolute;
    top: 53px;
    left: -105px;
    box-shadow: 0 0 7px rgb(0 0 0 / 12%);
    background-color: #fff;
    z-index: 1000;
    border-radius: 4px;
    font-weight: 400;
    font-size: 13px;
    min-width: 190px;
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    box-sizing: content-box;
    transition: all .5s linear;
    &._active {
      margin: 2px 0 0;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  &__link {
    display: block;
    padding: 6px 0;
  }
  &__register {
    color: #333;
    & a {
      &:hover {
        color: $color-purple;
      }
    }
  }
  &__login {
    color: #333;
    & a {
      &:hover {
        color: $color-purple;
      }
    }
  }
  &__language {
    & a {
      padding-bottom: 13px;
      &:hover {
        text-decoration: underline;
      }
    }
    & button {
      max-width: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      & img {
        max-width: 100%;
      }
    }
    & ul {
      padding-bottom: 10px;
    }
  }
  &__buttons {
    display: flex;
    margin-top: 2px;
    font-size: 14px;
    & button {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__button {
    background-color: #fff;
    &:nth-child(n+2) {
      margin-left: 15px;
    }
  }
  &__eng {}
  &__eng-button {}
  &__ar {}
  &__ar-button {}
  &__currency {
    & button {
      padding: 6px 10px;
      border: 1px solid #d9d9d9;
      color: #767676;
      min-width: 35px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__eur {}
  &__eur-button {}
  &__pound {}
  &__pound-button {}
  &__dollar {}
  &__dollar-button {}
}

.cart {
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    color: $color-purple;
  }
  &:hover &__image {
    background-image: url('../img/cart_active.png');
  }
  &:hover &__count {
    background-color: #000;
    color: #fff;
  }
  &__image {
    width: 23px;
    height: 23px;
    background-color: unset;
    background-image: url('../img/cart.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: contain;
  }
  &__count {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    left: -13px;
    top: -11px;
    padding: 1px 4px 1px 4px;
    border-radius: 50%;
    background-color: $color-purple;
    font-size: 11px;
    font-weight: 600;
    color: #fff;
    max-height: 16px;
    min-width: 16px;
  }
  &__title {
    position: relative;
    display: block;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
  }
}

.menu {
  position: absolute;
  z-index: 999;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  top: 70px;
  left: 0;
  right: 0;
  margin: 20px;
  box-sizing: content-box;
  background-color: #fff;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  transition: max-height .3s linear, top .3s linear;
  max-height: 0;
  overflow: hidden;
  &._active {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    top: 85px;
    padding: 9px 0 15px 0;
  }
  &_font-size {
    font-size: 13px;
    padding: 10px;
    &:hover {
      color: $color-purple;
    }
    &:hover::after {
      color: #000;
    }
  }
  &__list {}
  &__item {
    &:hover>a {
      color: $color-purple;
    }
    &:hover>a::after {
      color: #000;
    }
    &:nth-child(n+2) {
      margin-top: 3px;
    }
    & a {
      display: block;
    }
    &>a {
      display: block;
      padding: 10px;
    }
  }
  &__dropdown {
    box-sizing: content-box;
    transition: all .3s linear;
    overflow: hidden;
    max-height: 0;
    padding: 0 10px;
    &._active {
      padding-top: 10px;
      padding-bottom: 15px;
    }
    &_padding {
      padding-bottom: 0;
      padding-top: 0;
    }
  }
  &__subcategory {}
  &__link {
    padding: 4px 0;
    & a {
      padding-left: 20px;
      font-weight: normal;
    }
    &:hover {
      color: $color-purple;
    }
    &:hover &__arrow::after {
      color: #000;
    }
  }
  &__arrow {
    position: absolute;
    z-index: 1;
    background-image: url('../svg/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px;
    height: 35px;
    width: 45px;
    right: 0;
    top: 0;
    cursor: pointer;
    &._active {
      transform: rotate(180deg);
    }
    &:hover {
      color: $color-purple;
    }
    &:hover::after {
      color: #000;
    }
  }
}

.banner {
  margin-bottom: 40px;
  &__wrapper {
    padding: 0 20px;
  }
  &__main {}
  &__slider {
    margin-bottom: 18px;
  }
  &__slide {
    & img {
      display: block;
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
  &__pagination {}
  &__prev {
    display: none;
  }
  &__next {
    display: none;
  }
  &__side {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 38px;
  }
  &__side-img {
    width: 48%;
    & img {
      max-width: 100%;
      width: 100%;
    }
    & a {
      position: relative;
      display: flex;
      &::after {
        content: '';
        position: absolute;
        z-index: 1;
        bottom: 50%;
        top: 50%;
        left: 0;
        right: 0;
        background-color: #000;
        opacity: 0.1;
        transition: all 0.3s ease-out;
      }
      &:hover::after {
        transition: all 0.9s ease-in-out;
        top: 0;
        bottom: 0;
        opacity: 0;
      }
    }
  }
  &__aside {}
  &__aside-item {
    position: relative;
    width: 100%;
    & img {
      max-width: 100%;
      width: 100%;
    }
    &:nth-child(n+2) {
      margin-top: 20px;
    }
    & a {
      position: relative;
      display: flex;
      &::after,
      &::before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        opacity: 0;
        transition: all 0.45s ease 0s;
        background-color: rgba($color: #fff, $alpha: 0.7);
      }
      &::before {
        left: 0;
        right: 100%;
      }
      &::after {
        right: 0;
        left: 100%;
      }
      &:hover::after {
        left: 50%;
        opacity: 0.7;
      }
      &:hover::before {
        right: 50%;
        opacity: 0.7;
      }
    }
  }
  &__content {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 30px;
    padding-top: 51px;
  }
  &__title {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
    color: #010101;
    line-height: 1.29;
  }
  &__offer {
    line-height: 1.17;
    font-weight: 400;
    text-transform: capitalize;
  }
  &__label {
    font-size: 11px;
    background-color: $color-purple;
    color: #fff;
    line-height: 1.27;
    font-weight: 400;
    padding: 1px 5px 1px 6px;
    text-transform: capitalize;
  }
}

.product {
  padding-top: 20px;
  padding-bottom: 25px;
  &__wrapper {
    padding: 0 20px;
  }
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  &__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    padding: 7px 0;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  &__tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__tab {
    border: 2px solid transparent;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.42857;
    padding: 6px 17px;
    text-transform: capitalize;
    &._active {
      color: $color-purple;
    }
  }
  &__nav {
    position: absolute;
    bottom: 8px;
    width: 30px;
    height: 30px;
    padding: 7px 0 0;
    cursor: pointer;
    &:hover::before {
      color: $color-purple;
    }
    &::before {
      position: relative;
      top: -10px;
      font-family: 'FontAwesome';
      font-size: 28px;
      text-align: center;
      color: #c9c9c9;
    }
  }
  &__prev {
    right: 10px;
  }
  &__next {
    right: -23px;
  }
  &__slider {
    position: absolute;
    left: -100%;
    top: 100%;
    opacity: 0;
    transition: opacity .8s ease 0.2s;
    &._active {
      position: relative;
      left: 0;
      opacity: 1;
    }
  }
  &__card {}
}

.card {
  transition: all .3s;
  &:hover &__title {
    color: $color-purple;
  }
  &:hover &__image_hover {
    transform: translateX(0);
    opacity: 1;
  }
  &:hover &__image_active {
    transform: translateX(110%);
    opacity: 0;
    transition: all .5s linear;
  }
  &__image-box {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border: 1px solid #e8e8e8;
    overflow: hidden;
    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      background-color: #fff;
    }
    &:hover::after {
      opacity: 0.2;
    }
  }
  &__image {
    max-width: 100%;
    &:hover {
      opacity: 0.8;
    }
    &_active {
      position: relative;
      transform: translateX(0);
    }
    &_hover {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      opacity: 0;
      transform: translateX(-110%);
      transition: all .5s linear;
    }
  }
  &__details {}
  &__title {
    font-size: 12px;
    color: #848484;
    line-height: 1.67;
    margin-bottom: 4px;
    margin-top: 11px;
    text-transform: capitalize;
    letter-spacing: 0.8px;
    font-weight: 500;
  }
  &__rating {
    margin-bottom: 10px;
    color: #999;
    font-size: 8px;
  }
  &__price-box {
    font-weight: 600;
    font-size: 12px;
  }
  &__price {}
  &__discount {
    display: inline-block;
    background-color: $color-purple;
    color: #fff;
    padding: 0 1px;
    margin: 0 4px;
  }
  &__old-price {
    color: #999;
    text-decoration: line-through;
    font-weight: 500;
    font-size: 12px;
  }
  &__button {
    margin-top: 14px;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}

.fa-stack_yellow {
  color: #E69500;
}

.fa-star {
  position: absolute;
  color: #FC0;
}

.button {
  display: inline-block;
  background-color: $color-purple;
  color: #fff;
  padding: 7px 10px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #9174ce;
  border-radius: 5px;
  vertical-align: middle;
  font-size: 12px;
}

.sub-banner {
  padding-top: 20px;
  &__wrapper {
    padding: 0 20px;
  }
  &__container {
    width: 100%;
    margin-bottom: 32px;
  }
  &__banner {
    width: 100%;
    & a {
      position: relative;
      display: flex;
    }
    & img {
      max-width: 100%;
    }
    &:nth-child(n+2) {
      margin-top: 12px;
    }
  }
  &__content {
    position: absolute;
    z-index: 1;
    right: 5.7%;
    top: 18%;
    width: 40%;
    &_position {
      top: 10.8%;
      left: 35.5%;
      right: auto;
      margin: 0 auto;
      width: 56%;
    }
    &_right {
      right: 0.5%;
    }
  }
  &__label {
    color: $color-purple;
    line-height: 1.58;
    text-transform: uppercase;
    background: #fff;
    padding: 2px 10px;
    display: inline-block;
    letter-spacing: 1.4px;
    border-radius: 5px;
    &_padding {
      padding: 5px 10px;
    }
  }
  &__title {
    font-size: 18px;
    line-height: 0.89;
    letter-spacing: 0;
    text-transform: uppercase;
    font-weight: 600;
    margin: 14px 0 6px;
    &_font-size {
      font-size: 16px;
      margin: 13px 0 0;
    }
  }
  &__description {
    color: #757575;
    display: block;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.6px;
    line-height: 2.07;
    text-transform: capitalize;
  }
  &__offer {
    width: 100%;
    & a {
      position: relative;
      display: flex;
    }
    & img {
      max-width: 100%;
    }
  }
}

.special {
  padding-top: 35px;
  &__nav {
    bottom: -5px;
  }
  &__prev {
    right: 10px;
  }
  &__next {
    right: -23px;
  }
  &__slider {}
}

.shop {
  margin-bottom: 15px;
  &:hover &__nav {
    opacity: 1;
  }
  &__wrapper {
    padding: 0 20px;
  }
  &__slider {
    background-color: #f7f7f7;
    padding: 50px 30px 50px;
  }
  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__image-box {
    opacity: 0.3;
    &:hover {
      opacity: 0.7;
    }
  }
  &__image {
    max-width: 100%;
  }
  &__nav {
    z-index: 2;
    transform: translateY(50%);
    bottom: 50%;
    opacity: 0;
  }
  &__prev {
    right: auto;
    left: 15px;
  }
  &__next {
    right: 8px;
  }
}

.blog {
  padding-top: 30px;
  &__wrapper {
    padding: 0 20px;
  }
  &__title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  &__slider {
    margin-right: 10px;
    margin-left: 10px;
  }
  &__slider-wrapper {}
  &__slide {
    border: 1px solid #e8e8e8;
    padding: 15px;
    &:hover .blog__subtitle {
      color: $color-purple;
    }
  }
  &__image-box {
    position: relative;
    margin-bottom: 15px;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      background-color: #000;
      opacity: 0;
      transition: all .5s ease-out;
    }
    &:hover::after {
      opacity: 0.6;
    }
    &:hover & {
      opacity: 0.6;
    }
    &:hover .blog__buttons {
      opacity: 1;
    }
  }
  &__image {
    max-width: 100%;
  }
  &__buttons {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .5s ease;
  }
  &__button {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 14px 12px;
    background-color: $color-purple;
    color: #fff;
    min-width: 44px;
    transition: all .5s ease;
    &:hover {
      background: #000;
    }
  }
  &__zoom {
    margin-right: 10px;
  }
  &__link {}
  &__content {}
  &__date {
    color: $color-purple;
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: 500;
    line-height: 1.77;
  }
  &__subtitle {
    transition: all .5s ease;
    color: #131414;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.83;
    text-transform: capitalize;
    letter-spacing: 0.8px;
  }
}

.popup {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  padding: 40px 10px;
  width: 100vw;
  min-width: 320px;
  height: 100vh;
  background-color: rgba(00, 00, 00, 0.8);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all .6s ease 0s;
  color: #fff;
  &.open {
    opacity: 1;
    visibility: visible;
  }
  &.open .popup__content {
    transform: scale(1);
    opacity: 1;
  }
  &__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__content {
    position: relative;
    background-color: #fff;
    transition: all .6s ease 0s;
    opacity: 0;
    padding: 4px;
    border-radius: 4px;
    max-width: 100%;
    transform: scale(0);
  }
  &__close {
    position: absolute;
    right: 4px;
    bottom: -32px;
    width: 25px;
    height: 25px;
    background-color: unset;
    background-image: url("../svg/form-x.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
    &:focus {
      outline: none;
    }
  }
  &__img {
    width: 100%;
    border-radius: 4px;
    & img {
      max-width: 100%;
      border-radius: 4px;
    }
  }
  &__nav {
    position: absolute;
    top: 0;
    bottom: 0;
    cursor: pointer;
    &:hover img {
      opacity: 1;
    }
    & img {
      width: 33px;
      position: absolute;
      top: 50%;
      opacity: 0;
    }
  }
  &__prev {
    left: 0;
    right: 50%;
    & img {
      left: 20px;
      transform: rotate(180deg) translateY(50%);
    }
  }
  &__next {
    right: 0;
    left: 50%;
    & img {
      right: 20px;
      transform: translateY(-50%);
    }
  }
  &__details {
    position: absolute;
    bottom: -43px;
    left: 0;
    color: #fff;
  }
  &__description {
    font-size: 13px;
    font-weight: bold;
    color: #bbbbbb;
  }
  &__counter {
    position: relative;
    font-size: 12px;
    color: #999999;
    top: -7px;
  }
}